.field-margin-right{
  margin-right: 3%;
}
.center-div{
  position: absolute;
  top: 10%;
  width: 80%;
  /* transform: translate(0, -50%); */
  background: var(--main-color);
  box-shadow: 2px 2px 2px 2px #000;
}


@media screen and (max-width: 500px) {
  .center-div{
    left:0;
    margin-top:0px;
    width: 100%;
  }
}
