<mat-card style="height:100%;">
  <h1 style="margin: 10px;"> Add New Category</h1>
  <mat-card-content class="text-center" style="margin-top: 5%;">
    <form (ngSubmit)="addCategoryForm()">
      <mat-form-field style="width: 50%;" appearance="outline">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="category.title" type="text" name="tilte" matInput placeholder="Enter Title" required>
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 50%;" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="category.description" name="description" matInput placeholder="Enter Description" required rows="5"></textarea>
      </mat-form-field>

      <div class="container text-center" style="padding:20px">
        <button mat-raised-button class="field-margin-right" type="submit"
            style=" background-color:#93d84e; color:#fff;">Add Category</button>
        <button mat-raised-button type="reset"
            style=" background-color:#FF0A0A; color: #fff; ">Clear</button>
    </div>

    </form>
  </mat-card-content>
</mat-card>
