.full-width{
  width: 100%;
}
.center-div{
  position: absolute;
  top: 50px;
  width: 80%;
  /* transform: translate(0, -50%); */
  background: var(--main-color);
}
@media screen and (max-width : 500px) {
  .center-div{
    left: 0;
    overflow: scroll;
    width: 100%;
  }
}
