/* .img-profile{
 max-width: 150px;
 max-height: 150px;
 box-shadow: 1px 1px 3px 1px rgb(116, 115, 115);
 border-radius: 50%;
} */
.center-div{
  position: absolute;
  top:50px;
  width: 80%;
  /* transform: translate(0, -50%); */
  background: var(--main-color);
}


.table{
  width: 100%;
  border-collapse: collapse;
  font-weight: bold;
  margin-bottom: 20px;

}
.table tr td{
  padding: 5px 15px;
  text-align: center;
  text-transform: capitalize;
  border: .5px solid #646161;
}

.center{
  margin: 0 auto;
  padding: 10px;
}

table tr:nth-child(even){
  background-color: #719ed81f;
}

.active{
  background-color: #86e49d;
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  color: #006b21;
}

.deactive{
  background-color: #d863a3;
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  color: #b30021;
}

/* .wrapper{
    height: 300px;
    width:300px;
    position: relative;
    border: 5px solid #fff;
    background-size: 100% 100%;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.my_file{
  position: absolute;
   bottom: 0;
   outline: none;
   color: transparent;
   width: 100%;
   box-sizing: border-box;
   padding: 15px 120px;
   cursor: pointer;
   transition: 0.5s;
   background: rgba(0,0,0,0.5);
}
.my_file::file-selector-button{
  visibility:hidden;
}

.my_file::before{
  content: 'edit';
  font-size: 50px;
  color: #fff;
  display: inline-block;

} */

.upload{
  width: 250px;
  margin: 0 auto;
  position: relative;

}
.upload img{
  border-radius: 50%;
  border: 3px solid #eaeaea;
}

.upload .round{
  position: absolute;
  bottom: 0px;
  left: 150px;
  background: #00b4FF;
  width: 35px;
  height: 35px;
  line-height: 36px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  cursor: pointer !important;
}
.upload .round input[type='file']{
  position: absolute;
  transform: scale(2);
  opacity: 0;

}

@media screen and (max-width : 500px) {
  .center-div{
    margin-top: 0;
    left: 0;
    overflow: scroll;
    width: 100%;
  }
}
