.form-color{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 1px rgb(112, 109, 109);
}
.full-width{
    width: 100%;
}

.field-margin-right1{
    margin-right: 10%;
}

.img-logo{
    box-shadow: 1px 1px 3px 1px rgb(116, 115, 115);
    border-radius: 100%;
    margin-top: 20px;

}
