.full-width{
  width: 100%;
}
.mouse:hover{
  background-color: rgba(114, 112, 112, 0.4);
}
.card{
  background: var(--main-color);
  border: none;
}
.center-div{
  position: absolute;
  top: 10%;
  width: 80%;
  /* transform: translate(0, -50%); */
  background: var(--body-color);

}
@media screen and (max-width: 500px) {
  .center-div{
    left:0;
    width: 100%;
  }
}
