<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field> *ngFor="let c of categories"-->
<mat-card>
  <mat-card-header>
    <mat-card-title class="t_header">User Details</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table class="table">
      <thead>
        <tr class="tr-head">
          <th>UserId</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of usersDetails">
          <!--</tr>[ngIf]="c.authorities[0].authority =='NORMAL'">-->
          <td>{{ c.id + "." }}</td>
          <td>{{ (c.firstName + " " + c.lastName).toUpperCase() }}</td>
          <td>{{ c.username }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.phone }}</td>
          <td>{{ c.authorities[0].authority }}</td>
          <td *ngIf="c.enabled">
            <mat-slide-toggle
              (click)="updateStatus(c.username, false)"
              [checked]="checked"
              color="primary"
              [disabled]="disabled"
            >
            </mat-slide-toggle>
          </td>
          <td *ngIf="!c.enabled">
            <mat-slide-toggle
              (click)="updateStatus(c.username, true)"
              [checked]="!checked"
              color="primary"
              [disabled]="disabled"
            >
            </mat-slide-toggle>
          </td>
          <!-- <p class="deactive">Deactive</p> -->
          <td>
          <!--  <a [routerLink]="'/admin/updateUser'"
              ><mat-icon class="edit">edit</mat-icon></a
            >-->
            <span>&nbsp;&nbsp;</span>
            <a
              [routerLink]="'/admin/userDetails'"
              (click)="delete(c.id)"
              *ngIf="c.authorities[0].authority != 'ADMIN'"
              ><mat-icon class="delete">delete</mat-icon></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
