.header-image {
  background-image: url("../../../../assets/quiz.png");
  background-size: cover;
}


.deleteIcon{
  color: rgb(231, 42, 42);
  position: absolute;
  top:20px;
  right: 1rem;

}
.deleteIcon:hover{
  color: #e95252;
  background-color: #c0aceefe;
  border-radius: 4px;
}
.tooltip{
  position: absolute;
  top:20px;
  right: 0;
}
/* .card{
  background: linear-gradient(135deg, #71b7e6, #71b7e6);
  box-shadow: 1px 1px 1px .5px #000;
  margin: 50px;
} */

.active{
  font-size: 15px;
  font-weight: bold;
  color: #006b21;
}

.deactive{
  font-size: 15px;
  font-weight: bold;
  color: #b30021;
}


table, th, td{
  border-collapse: collapse;
  padding: 1rem;

}
table{
  overflow: auto;
  width: 100%;
  border: 1px solid #c0aceefe;
}

table thead{
  position: sticky;
  top: 58px;
  left: 0;
  background-color: #c0aceefe;
}

tbody tr:nth-child(even){
  background-color: #719ed81f;
}
tbody tr:hover{
  background-color: rgba(114, 112, 112, 0.4);
  cursor: pointer;
}

.active{
  /* background-color: #86e49d; */
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  color: #006b21;
}

.deactive{
  /* background-color: #d863a3; */
  border-radius: 1.5rem;
  padding: .5rem 1rem;
  color: #b30021;
}
.edit{
  color: rgb(47, 231, 47);
}

.edit:hover{
  color: #006b21;
  background-color: #c0aceefe;
  border-radius: 4px;
}

.delete{
  color: rgb(231, 42, 42);
}
.delete:hover{
  color: #e95252;
  background-color: #c0aceefe;
  border-radius: 4px;
}


@media screen and (max-width: 900px) {
  .table-box1{
    overflow: scroll;
  }
}

.center-div{
  position: absolute;
  top: 10%;
  width: 80%;
  /* transform: translate(0, -50%); */
}

@media screen and (max-width: 500px) {
  .center-div{
    left:0;
    width: 100%;
    height: auto;
  }
}

