.card{
  background: rgba(255, 255, 255, 0.4);
  display: block;
}
.mb10{
  margin-bottom:4px;
}

.deleteIcon{
  color: rgb(231, 42, 42);
  position: absolute;
  top:20px;
  right: 1rem;

}
.deleteIcon:hover{
  color: #e95252;
  background-color: #c0aceefe;
  border-radius: 4px;
}
