<!-- <div class="bootstrap-wrapper">
  <div class="container">
    <h1 style="text-align: center;">All Categories</h1>
    <div *ngIf="categories.length==0"> Category is not avaliable.</div>
    <div class="row">
        <div class="col-md-10 offset-md-1">

          <mat-card *ngFor="let c of categories" class="mb10 card">

            <mat-card-header>
              <a [routerLink]="'/admin/categories'" (click)="delete(c.cid)"
      ><mat-icon
        class="deleteIcon"
        matTooltip="Delete Category"
        matTooltipClass="tooltip"
        >close</mat-icon
      ></a
    >
            <mat-card-title><mat-icon style="color: black;">
              list_alt
            </mat-icon> {{c.title }}</mat-card-title>

            <mat-card-subtitle><b> Description: </b>{{c.description }}</mat-card-subtitle>
          </mat-card-header>

          </mat-card>
          <div class="container" style="margin: 20px; text-align: center;">
            <button mat-raised-button color="primary" [routerLink]="'/admin/addCategory'">Add New Category</button>
          </div>

        </div>
    </div>
  </div>
</div> -->

<div class="bootstrap-wrapper center-div">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="table-box1">
          <mat-card-header>
            <mat-card-title>All Category</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <table class="table">
              <thead>
                <tr class="tr-head">
                  <th>Category</th>
                  <th>Description</th>
                  <th colspan="2">Action</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of categories">
                  <td>
                    {{ c.title }}
                  </td>
                  <td>

                      {{ c.description | slice:0:30 }}

                    <span class="tooltip">
                      <i class="bx bxs-help-circle" style="font-size: 20px;"></i>
                      <span class="tooltiptext"> {{ c.description }}</span>
                    </span>
                  </td>

                  <td colspan="2">
                    <a
                      ><mat-icon
                        class="edit"
                        matTooltip="Edit Category"
                        matTooltipClass="tooltip"
                        >edit</mat-icon
                      ></a
                    >
                  </td>
                  <td>
                    <a
                      [routerLink]="'/admin/categories'"
                      (click)="delete(c.cid)"
                      ><mat-icon
                        class="delete"
                        matTooltip="Delete Category"
                        matTooltipClass="tooltip"
                        >delete</mat-icon
                      ></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
          <div class="container" style="margin: 20px; text-align: center">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="'/admin/addCategory'"
            >
              Add New Category
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
