.menu-card{
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 65px;
  left: 0;
}

/* @media screen and (max-height: 450px) {
  .sticky {padding-top: 15px;}
  .sticky button {font-size: 18px;}
} */

/* .card{
  background: linear-gradient(135deg, #71b7e6, #bc7ed4);
  box-shadow: 2px 2px 2px 2px #000;
  margin: 50px;
} */

span{
  color: white;
}


.horozontal-menu{
  background-color:rgba(0,56,0,.9);
  display: inline-block;
  width: 100%;
  padding: 15px;
}
.horozontal-menu ul li{
  display: inline-block;
  list-style-type: none;
}
.horozontal-menu ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: large;
  padding: 10px;
}
.horozontal-menu ul li a:hover{
 background:rgba(0,255,0,.8);
 border-radius:5px ;
}



@media only screen and (max-width: 900px){
 .menu-card{
  display: none;
 }
 .horozontal-menu{
  display:block;
  width: 100%;
 }
 .horozontal-menu ul li{
  display:block;
 }
}
