<!--
<div class="horozontal-menu">
  <ul>
      <li><a [routerLink]="'/admin'">Home</a></li>
      <li><a [routerLink]="'/admin/profile'">Profile</a></li>
      <li><a [routerLink]= "'/admin/categories'">Categories</a></li>
      <li><a [routerLink]="'/admin/addCategory'">Add Categoery</a></li>
      <li><a [routerLink]="'/admin/quizzes'">Quizzes</a></li>
      <li><a [routerLink]="'/admin/addQuiz'">Add Quiz</a></li>
      <li><a [routerLink]="'/admin/userDetails'">User Details</a></li>
  </ul>
</div> -->

<!-- <mat-card class="menu-card card" >

  <mat-action-list>
    <div mat-subheader style="color: white;">Menu</div>

    <hr>
    <button mat-list-item [routerLink]="'/admin'"><mat-icon matListItemIcon style="color: white;">home</mat-icon><span>Home</span> </button>
    <button mat-list-item  [routerLink]="'/admin/profile'"><mat-icon matListItemIcon style="color: white;">account_circle</mat-icon ><span>Profile</span></button>
    <button mat-list-item  [routerLink]= "'/admin/categories'"><mat-icon matListItemIcon style="color: white;">list</mat-icon><span>Categories</span> </button>
    <button mat-list-item   [routerLink]="'/admin/addCategory'"><mat-icon matListItemIcon style="color: white;">add_circle_outline</mat-icon ><span>Add Categoery</span> </button>
    <button mat-list-item [routerLink]="'/admin/quizzes'"><mat-icon matListItemIcon style="color: white;">quiz</mat-icon ><span>Quizzes</span> </button>
    <button mat-list-item   [routerLink]="'/admin/addQuiz'"><mat-icon matListItemIcon style="color: white;">add</mat-icon ><span>Add Quiz</span> </button>
    <button mat-list-item  [routerLink]="'/admin/userDetails'"><mat-icon matListItemIcon style="color: white;">person</mat-icon ><span>User Details</span> </button>
    <button mat-list-item (click)="logout()"><mat-icon matListItemIcon style="color: white;">logout</mat-icon><span>Logout</span> </button>
  </mat-action-list>
</mat-card> -->

<div class="sidebar close">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">Exam Notebook</span>

  </div>
  <ul class="nav-links">
    <li>
      <a [routerLink]="'/admin'"
      matTooltip="Dashboard"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class="bx bx-collection"></i>
        <span class="link_name">Dashboard</span>
      </a>
    </li>

    <li>
      <a [routerLink]="'/admin/profile'"
      matTooltip="Profile"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class="bx bxs-user"></i>
        <span class="link_name">Profile</span>
      </a>
    </li>

    <li>
      <a [routerLink]="'/admin/categories'"matTooltip="Categories"
      matTooltipClass="tooltip"
      matTooltipPosition="right">
        <i class="bx bxs-category"></i>
        <span class="link_name">Categories</span>
      </a>
    </li>

    <li>
      <a [routerLink]="'/admin/addCategory'"
      matTooltip="Add Category"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class="bx bxs-add-to-queue"></i>
        <span class="link_name">Add Category</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/quizzes'"
      matTooltip="Quizzes"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class='bx bx-help-circle' ></i>
        <span class="link_name">Quizzes</span>
      </a>
    </li>

    <li>
      <a [routerLink]="'/admin/addQuiz'"
      matTooltip="Add Quiz"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class='bx bxs-plus-circle'></i>
        <span class="link_name">Add Quiz</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/admin/userDetails'"
      matTooltip="Users Detail"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class='bx bxs-user-detail'></i>
        <span class="link_name">Users Detail</span>
      </a>
    </li>

    <li>
      <a (click)="logout()"
      matTooltip="Logout"
      matTooltipClass="tooltip"
      matTooltipPosition="right"
      >
        <i class="bx bx-log-out"></i>
        <span class="link_name">Logout</span>
      </a>
    </li>
  </ul>
</div>

<section class="home-section" >
  <div class="home-content">
    <i class="bx bx-menu" (click)="toggleClass($event,'close')"></i>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

